{% extends '././base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('log-form') }}
{% endblock %}

{% block title %}
    SnowTricks - Modification du compte
{% endblock %}

{% block body %}
    <div class="container" id="container-form">
        <div class="row justify-content-center">
            <div class="col-md-6 box logForm">
                <h1>Modification du compte</h1>

                <section class="formulaire">
                    <div class="offset-4 col-4" id="profile-picture">
                        {% if user.picture == null %}
                            <img src="{{ asset('img/default-profil.jpg') }}" alt="Avatar" class="rounded-circle" width="110">
                        {% else %}
                            <div class="circular-picture">
                                <img src="{{ asset('uploads/' ~ user.picture.miniFile) }}" alt="Avatar" width="110">
                            </div>
                        {% endif %}
                    </div>
                        {{ form_start(form) }}
                        {{ form_row(form.username, {'label': 'Pseudo', 'value': user.username}) }}
                        {{ form_row(form.email, {'value': user.email}) }}
                        {{ form_row(form.picture, {'label': 'Photo de profil'}) }}

                        <div id="submit-btn">
                            <button type="submit" class="btn btn-info">
                                Enregistrer
                            </button>
                        </div>
                        {{ form_end(form) }}

                    <div class="row">
                        <div id="password-btn" class="col-6">
                            <a href="{{ path('change_password', {'id' : user.id}) }}">Changer le mot de passe</a>
                        </div>
                        <div  class="metadata col-6"><a href="{{ path('delete_user', {'id' : user.id }) }}">Supprimer le compte</a></div>
                    </div>

                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('log-form') }}
    {{ encore_entry_script_tags('upload-file') }}
{% endblock %}