{% extends '././base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('log-form') }}
{% endblock %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container" id="container-form">
        <div class="row justify-content-center">
            <div class="col-md-6 box logForm">
                <h1>Modification du mot de passe</h1>
                <section class="formulaire">
                    {{ form_start(form) }}
                        {{ form_row(form.password.first) }}
                        {{ form_row(form.password.second) }}
                    <div id="submit-btn">
                        <button type="submit" class="btn btn-info">
                            Modifier
                        </button>
                    </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>

{% endblock %}