{% extends '././base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('log-form') }}
{% endblock %}

{% block title %}
    {% if editMode %}
        Modification du compte
    {% else %}
        Inscription
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container" id="container-form">
        <div class="row justify-content-center">
            <div class="col-md-6 box logForm">
                <h1>Inscription</h1>

                <section class="formulaire">
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'label': 'Pseudo'}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password, {'label': 'Mot de passe'}) }}

                    <div id="submit-btn">
                        <button type="submit" class="btn btn-info">
                            Créer un compte
                        </button>
                    </div>
                    <div  class="metadata"><a href="{{ path('log_in') }}">Déjà un compte ?</a></div>

                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('log-form') }}
{% endblock %}