{% extends '././base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('log-form') }}
{% endblock %}

{% block title %}SnowTricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container" id="container-form">
        <div class="row justify-content-center">
            <div class="col-md-6 box logForm">
                <h1>Réinitialisation du mot de passe</h1>
                <section class="formulaire">
                    {{ form_start(form) }}
                    {{ form_row(form.email, {'label': 'Email'}) }}
                    {{ form_row(form.password, {'label': 'Nouveau mot de passe'}) }}
                    <div id="submit-btn">
                        <button type="submit" class="btn btn-info">
                            Modifier le mot de passe
                        </button>
                    </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>

{% endblock %}