{% extends '././base.html.twig' %}
{% block title %}
    {% if editMode %}
        Modification du trick
    {% else %}
        Nouveau trick
    {% endif %}
{% endblock %}

{% block body %}
    {% if editMode %}
        <h2>Modification du trick</h2>
    {% else %}
        <h2>Nouveau trick</h2>
    {% endif %}

    <section class="formulaire">
        {{ form_start(form) }}
            {{ form_row(form.name) }}

            <!-- Show pictures already loads -->
            {% if editMode %}
                <div class="main-picture">
                    {% if  trick.frontPicture is not same as(null) %}
                        <img src="{{ asset('uploads/' ~ trick.frontPicture.file) }}" alt="" id="main" class="img-thumbnail">
                    {% else %}
                        <img src="{{ asset('img/defaultFrontTrick.jpg') }}" alt="" id="main" class="img-thumbnail">
                    {% endif %}
                </div>
                {% set i = 0 %}
                {% for picture in trick.pictures %}
                    <img src="{{ asset('uploads/' ~ picture.file) | imagine_filter('my_thumb') }}" alt="" class="img img-responsive img-preview thumbnail">
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}


        <!-- Form -->
            {{ form_label(form.frontPicture, 'Image de couverture') }}
            {{ form_widget(form.frontPicture) }}

        <h3>Images</h3>
            <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e }}">
           </ul>

            <br/><br/>
            {{ form_row(form.trickGroup) }}
            {{ form_row(form.content) }}

            {% if editMode %}
                {{ form_row(form.submit, {'label': 'Modifier le trick'})}}
            {% else %}
                {{ form_row(form.submit, {'label': 'Nouveau trick'})}}
            {% endif %}
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('multiplePicture') }}
{% endblock %}
