{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <div id="top-arrow">
        <a href="#presentation"><i class="fas fa-chevron-up"></i></a>
    </div>

    <section id="presentation">
        <div id="arrow">
            <a href="#list-tricks"><i class="fas fa-chevron-down"></i></a>
        </div>
    </section>
    
    <section id="list-tricks">
        <div class="container">
            <hr>
            <h2>Liste des tricks</h2>
            <hr>
            <div class="row">
                {% for trick in tricks %}
                    <div class="col-3">
                        <article>
                            <a href="{{ path('trick', {slug:trick.slug}) }}">
                                {% if  trick.frontPicture is not same as(null) %}
                                    <img src="{{ asset('uploads/' ~ trick.frontPicture.file) }}" alt="" size="20vw">
                                {% else %}
                                    <img src="{{ asset('img/defaultFrontTrick.jpg') }}" alt="" size="10vw">
                                {% endif %}
                            </a>
                            <a href="{{ path('trick', {slug:trick.slug}) }}">
                                <h3>{{ trick.name }}</h3>
                            </a>
                            {% if app.user %}
                                <a href="{{ path('trick_edit', {slug:trick.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
                                <a href="{{ path('trick_delete', {id:trick.id}) }}" onclick="return confirm('Vous êtes sûr de vouloir supprimer ce trick?')"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}

                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('home') }}
 {% endblock %}