{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('trick') }}
{% endblock %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <h1>{{ trick.name }}</h1>

    <!-- Main picture -->
    <div class="main-picture">
        {% if  trick.frontPicture is not same as(null) %}
            <img src="{{ asset('uploads/' ~ trick.frontPicture.file) }}" alt="" id="main" class="img-thumbnail">
        {% else %}
            <img src="{{ asset('img/defaultFrontTrick.jpg') }}" alt="" id="main" class="img-thumbnail">
        {% endif %}
    </div>

    <!-- Pictures -->
    {% set i = 0 %}
    {% for picture in trick.pictures %}
        <a href="{{ asset('uploads/' ~ picture.file)}}" target="_blank"><img src="{{ asset('uploads/' ~ picture.file) | imagine_filter('my_thumb') }}" alt="" ></a>
        {% set i = i + 1 %}
    {% endfor %}

    <!-- Vidéos -->
    {% for video in trick.videos %}
        <iframe width="480" height="270" src="{{ video.url }}" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    {% endfor %}

    <p>{{ trick.content }}</p>

    {% if app.user %}
        <button type="button" class="btn btn-info"><a href="{{ path('trick_edit', {id:trick.id}) }}">Modifier le trick</a></button>
        <button type="button" class="btn btn-danger"><a href="{{ path('trick_delete', {id:trick.id}) }}" onclick="return confirm('Vous êtes sûr de vouloir supprimer ce trick?')">Supprimer le trick</a></button>
    {% endif %}
    <hr>
    <p class="metadata">
        Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans la catégorie {{ trick.trickGroup.name }}.
    </p>
    <hr/>
    <div class="comments">
        <h2>Commentaires</h2>

        {% if app.user %}
            <section class="formulaire">
                {{ form(form) }}
            </section>
        {% endif %}
        <hr>
        {% for comment in trick.comments|reverse %}
            <p class="text-primary"> {{ comment.user.username }}</p>
            <p class="text-secondary">{{ comment.content }}</p>
            <p class="text-muted">Ecrit le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}.</p>
        {% endfor %}
    </div>
{% endblock %}


 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('trick') }}
 {% endblock %}
